.wrap {
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.table {
	max-width: 100%;
	text-align: center;
	border-spacing: 0;
	border-collapse: collapse;
}

.header {
	background-color: var(--dark);
}

.header .row .col {
	font-size: 20px;
	text-transform: uppercase;
}

.icon {
	font-size: 20px;
	padding: 5px;
}

.row {}

.col {
	border: 1px solid var(--white);
	padding: 3px;
	margin: 0;
	font-size: 14px;
	box-sizing: border-box;
}

.body {}

.col_name {
	background-color: var(--dark);
}

.col_name>a {
	display: block;
	color: var(--white);
	text-decoration: none;
	font-size: 16px;
	transition: all .3s ease-in-out;
}

.col_name>a:hover {
	color: var(--blue);
}

.col_none {
	background-color: var(--dark);
}

h2>a {
	color: var(--white);
	text-decoration: none;
	transition: all .3s ease-in-out;
}

h2>a:hover {
	color: var(--blue);
}
