.wrap {
	text-align: left;
	position: relative;
	margin: 15px;
}

.input {
	position: relative;
	z-index: 1;
	padding: 5px;
	color: var(--dark);
	font-weight: 400;
	font-size: 18px;
	border-radius: 10px;
	border: 2px solid var(--blue);
	outline: none;
	transition: all .3s ease-in-out;
	box-sizing: border-box;
}

.input:focus {
	box-shadow: 0 0 30px var(--blue);
}

.placeholder {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	color: var(--light-black);
	transform: translate(10px, -190%);
	color: var(--blue);
	font-size: 16px;
	font-weight: 600;
	transition: all .3s ease-in-out;
}

.input[value=""]+.placeholder {
	transform: translate(10px, -50%);
}

.input:focus+.placeholder {
	transform: translate(10px, -190%);
}
