.wrap {
	height: 100vh;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	padding: 20px;
	box-sizing: border-box;
	justify-content: space-evenly;
	align-items: center;
}

.token {
	display: flex;
	align-items: center;
}

.token>*,
.token__inst>* {
	margin: 20px;
}

.token__inst {
	margin: 0;
}
