html {
  --black: #2d2d2d;
  --dark: #1d1d1d;
  --light-black: #3d3d3d;
  --white: #fefefe;
  --blue: #0288d1;
  --red: #c62828;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: var(--white);
  position: relative;
}

.container {
  margin-left: 150px;
  background-color: var(--black);
  min-height: 100vh;
  overflow: scroll;
}


html,
body {
  scrollbar-color: var(--blue) var(--black);
  scrollbar-width: thin;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  height: 0;
  width: 0;
  display: none;
}
